@model IEnumerable<WebApp.Models.Dtos.MemberDto>;
@{
    ViewData["Title"] = "Accounts";
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="text-primary">Manager Accounts</h5>
        <a asp-action="Create" class="btn btn-sm btn-success"> <i class="bi bi-plus-square-fill"></i> Create</a>
    </div>

    <div class="card-body">
        <table id="DT_load" class="table table-bordered table-striped table-hover" style="width:100%;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>FullName</th>
                    <th>PhoneNumber</th>
                    <th>EmailConfirmed</th>
                    <th>Role</th>
                    <th>LockOutEnd</th>
                    <th>Lock/Unlock</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td style="color:seagreen">@item.UserName</td>
                        <td>@item.FirstName @item.LastName</td>
                        <td>@item.PhoneNumber</td>
                        @if (item.EmailConfirmed)
                        {
                            <td>Active</td>
                        }
                        else
                        {
                            <td>Unactive</td>
                        }
                        <td>@item.Roles.FirstOrDefault()</td>
                        @if (item.LockOutEnd == null)
                        {
                            <td>Active</td>
                        }
                        else
                        {
                            <td>@item.LockOutEnd.Value.ToString("dd/MM/yyyyy")</td>
                        }
                        @if (item.LockOutEnd == null)
                        {
                            <td>
                                <button id="btnLock" data-userid="@item.Id" class="btn btn-sm btn-warning">Lock</button>
                            </td>
                        }
                        else
                        {
                            <td>
                                <button id="btnUnlock" data-userid="@item.Id" class="btn btn-sm btn-success">Unlock</button>
                            </td>
                        }
                        <td style="text-align:center">
                            <a class="btn btn-sm btn-info" asp-action="Update" asp-route-userId="@item.Id">Update</a>
                            <button id="btnDelete" data-userid="@item.Id" class="btn btn-sm btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).on('click', '#btnDelete', function () {
            var userId = $(this).data("userid");
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/Admin/User/Delete/' + userId;
                }
            });
        });

        $(document).on('click', '#btnLock', function () {
            var userId = $(this).data("userid");
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Lock it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/Admin/User/Lock/' + userId;
                }
            });
        });

        $(document).on('click', '#btnUnlock', function () {
            var userId = $(this).data("userid");
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Unlock it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/Admin/User/UnLock/' + userId;
                }
            });
        });
    </script>
}