@using WebApp.Models.Dtos;

@model ProductDtoForCreateAndUpdate;
@{
    ViewData["Title"] = " Update";
    ProductDto productDto = (ProductDto)ViewBag.Product;
}
<div class="card">

    <div class="card-header">
        <h5 class="text-primary"> Create a category</h5>
    </div>

    <div class="card-body" style="min-height:450px">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="Id" hidden value="@productDto.Id" />
            <div class="row">
                <div class="col-9">
                    <div class="mb-3">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" value="@productDto.Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ProductCode"></label>
                        <input asp-for="ProductCode" class="form-control" value="@productDto.ProductCode" />
                        <span asp-validation-for="ProductCode" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control" />@Html.Raw(productDto.Description)</textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" value="@productDto.Price" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label>Select Category</label>
                        <select id="categoryIdSelect" asp-items="@ViewBag.ListC" asp-for="CategoryId" class="form-control"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Image" class="form-control" id="uploadBox" type="hidden" />
                    </div>

                    <input type="hidden" asp-for="Status" value="Active" />
                </div>
                <div class="col-3">
                    @if (productDto.Image != null)
                    {
                        <img width="100%" style="border-radius:5px;border:1px solid #bbb9b9" src="@productDto.Image" />
                    }
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-success" value="Create">Update</button>
            <a asp-action="Index" class="btn btn-sm btn-info">Back to list</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            // Lấy giá trị của CategoryId từ productDto
            var categoryId = "@productDto.CategoryId";

            // Đặt giá trị của select box thành categoryId
            $("#categoryIdSelect").val(categoryId);

            tinymce.init({
                selector: 'textarea',
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
            });
        });
    </script>

}