@model WebApp.ViewModels.PaymentViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Bank transfer</h2>
                        <p>Home <span>-</span> Bank transfer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================ confirmation part start =================-->
<section class="confirmation_part padding_top">
    @if (Model != null)
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="confirmation_tittle">
                        <div id="realTimeClock">
                            <span>Payment deadline: </span>
                            <span id="clock"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <img src="@Model.ImageQR" alt="star" class="img-thumbnail">
                </div>
                <div class="col-lg-6">
                    <div class="order_details_iner">
                        <h3>Order Details</h3>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderDto.OrderDetails)
                                {
                                    <tr>
                                        <th colspan="2"><span>@item.Product.Title</span></th>
                                        <th>x0@(item.Quantity)</th>
                                        <th> <span>@((item.UnitPrice * item.Quantity).ToString("N0") + " VND")</span></th>
                                    </tr>
                                }
                                <tr>
                                    <th colspan="3">CouponCode</th>
                                    <th><span>flat rate: @Model.OrderDto.CouponCode</span></th>
                                </tr>
                                <tr>
                                    <th colspan="3">Total</th>
                                    <th> <span>@Model.OrderDto.OrderTotal.ToString("N0") VND</span></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="confirmation_tittle">
                        <span>Thank you. Your order has been received.</span>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
<!--================ confirmation part end =================-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            var remainingTime;
            localStorage.removeItem('remainingTime');
            if (JSON.parse(localStorage.getItem('remainingTime')) !== null) {
                var value = JSON.parse(localStorage.getItem('remainingTime'));
                var date = new Date(value);
                var formattedTime = date.toLocaleTimeString('en-US', {
                    hour12: false,
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit'
                });
                remainingTime = parseTime(formattedTime);
            } else {
                var sessionTime = '@HttpContextAccessor.HttpContext.Session.GetString("currentTime")';
                remainingTime = parseTime(sessionTime);
                if (remainingTime) {
                    localStorage.setItem('remainingTime', JSON.stringify(remainingTime));
                }
            }

            var interval = setInterval(function () {
                updateClockFromRemainingTime(remainingTime);
            }, 1000);
        });

        function updateClockFromRemainingTime(remainingTime) {
            remainingTime.setTime(remainingTime.getTime() - 1000);

            localStorage.setItem('remainingTime', JSON.stringify(remainingTime));

            var hours = remainingTime.getHours();
            var minutes = remainingTime.getMinutes();
            var seconds = remainingTime.getSeconds();

            var formattedHours = padZeros(hours);
            var formattedMinutes = padZeros(minutes);
            var formattedSeconds = padZeros(seconds);

            $('#clock').text(formattedHours + ':' + formattedMinutes + ':' + formattedSeconds);

            if (remainingTime.getTime() <= 0) {
                clearInterval(interval);
                localStorage.removeItem('remainingTime');
            }
        };

        function padZeros(number) {
            return number < 10 ? '0' + number : number;
        };

        function parseTime(timeString) {
            var timeComponents = timeString.split(':');
            var hours = parseInt(timeComponents[0]);
            var minutes = parseInt(timeComponents[1]);
            var seconds = parseInt(timeComponents[2]);

            var date = new Date();
            date.setHours(hours);
            date.setMinutes(minutes);
            date.setSeconds(seconds);

            return date;
        };
    </script>

}